<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style_test.css" >
<title>Site Accueil</title>
</head>

<body>
	
    <div id="container">
    <div id="header">
    	
        <div id="logo">
        	<img src="">
        </div>
        <div id="menu">
        	<ul>
				<li></li>
                <li></li>
                <li></li>            
            </ul>
        </div>
        
    </div>
    <div id="login">
    	<img id="signin" src="">
        <p id="login_frm">{{  }}</p>
    </div>
	</div>
</body>
</html>
