{% extends "main.twig" %}
{% block title %} Ajout d'une Categorie {% endblock %}
{% block content %}

	<div class="ench clearfix">
			<h3> Ajouter une Categorie </h3>
			<div class="info">
			{{ form|raw }}
			
		   </div>
	</div>


{% endblock %}