{% extends "main.twig" %}
{% block title %} Ajout d'Enchère {% endblock %}
{% block content %}

	<div class="ench clearfix">
			<h3> Ajouter d'une Enchère  </h3>
			<div class="info">
			{{ form|raw }}
			
		   </div>
	</div>


{% endblock %}