{% extends "main.twig" %}
{% block title %} Ajout d'un Pack {% endblock %}
{% block content %}
	<div class="jeton clearfix">
			<h3> Ajouter un Pack jeton  </h3>
			<div class="info">
			{{ form|raw }}
			
		   </div>
	</div>
{% endblock %}