{% extends "main.twig" %}
{% block title %} Ajout de Membre {% endblock %}
{% block content %}
	<div class="insc clearfix">
			<h3> Ajouter un Membre  </h3>
			<div class="info">
			{{ form|raw }}
			
		   </div>
	</div>
{% endblock %}