{% extends "main.twig" %}
{% block title %} S'inscrire {% endblock %}
{% block content %}
	<div class="Con clearfix">
			<h3> Informations :  </h3>
			<div class="info">
			{{ info|raw }}
			
		   </div>
	</div>
{% endblock %}