{% extends "main.twig" %}
{% block title %}erreur action{% endblock %}
{% block content %}
<center><h2>ERROR 403</h2>
<p>Vous n'êtes pas autorisé à effectuer cette action. Causes possibles, droits insufisants...</p></center>
{% endblock %}