{% extends "main.twig" %}
{% block title %} S'inscrire {% endblock %}
{% block content %}
	<div class="insc clearfix">
			<h3> S'inscrire  </h3>
			<div class="info">
			{{ form|raw }}
			
		   </div>
	</div>
{% endblock %}