{% extends "main.twig" %}
{% block title %} Modifier une Enchère {% endblock %}
{% block content %}

	<div class="ench clearfix">
			<h3> Modifier une Enchère  </h3>
			<div class="info">
			{{ form|raw }}
			
		   </div>
	</div>


{% endblock %}