{% extends "main.twig" %}
{% block title %} Passer Un Offre {% endblock %}
{% block content %}
<script  type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
<script  type="text/javascript" src="js/jquery-ui-1.7.custom.min.js"></script>
<script language="JavaScript" type="text/javascript" src="js/AlertFunctions.js"></script>
	<div class="ench clearfix">
			<h3> Passer un Offre  </h3>
			<div class="info">
			{{ form|raw }}
			
		   </div>
	</div>


{% endblock %}